$color-background: #0A090C;
$color-footer-mobile-1: lighten($color-background, 2%);
$color-footer-mobile-2: lighten($color-background, 10%);
$color-background-code: lighten($color-background, 2%);
$color-border: #666;
$color-meta: #666;
$color-meta-code: #666;
$color-link: #697268;
$color-text: #F2EFE9;
$color-accent-3: #cccccc;
$color-accent-2: #eeeeee;
$color-accent-1: #931F1D;
$color-quote: #2D82B7;
